CRAVES_API_BASE_URL=https://apim-craves-prodlow-l3ing6.azure-api.net/api/v1
NEXT_PUBLIC_FIREBASE_API_KEY=replace-from-firebase-web-app-config
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=replace.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=replace-project-id
NEXT_PUBLIC_FIREBASE_APP_ID=replace-app-id
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=replace-sender-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=replace-storage-bucket
